.vs/
**/.vs/

[Bb]in/
**/[Bb]in/
[Oo]bj/
**/[Oo]bj/

*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

.vscode/
**/.vscode/
.idea/
**/.idea/

_ReSharper*/
**/_ReSharper*/
*.DotSettings.user

TestResults/
**/TestResults/

*.nupkg
*.snupkg
packages/
**/packages/

artifacts/
**/artifacts/

UpgradeLog.htm

*.log
*.cache
